NEXT_PUBLIC_API_URL="http://localhost:8787" # The base endpoint for the backend API
NEXT_PUBLIC_MAPBOX_TOKEN="" # Public Mapbox access token required to initialize map components and load map tiles
NEXT_PUBLIC_SITE_URL="https://www.railradar24.com" # Public site URL used for Open Graph meta tags and canonical URLs
MAPBOX_SERVER_TOKEN="" # Server-side Mapbox token used to render Open Graph map images
NEXT_PUBLIC_STATIC_URL="" # Static site URL used for the static assets
